<app-navbar></app-navbar>
<div class="container mt-5">
  <div class="row mt-3">
    <div class="col">
      <app-home></app-home>
    </div>
    <div class="col">
      <app-home></app-home>
    </div>
    <div class="col">
      <app-home></app-home>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <app-home></app-home>
    </div>
    <div class="col">
      <app-home></app-home>
    </div>
    <div class="col">
      <app-home></app-home>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <app-home></app-home>
    </div>
    <div class="col">
      <app-home></app-home>
    </div>
    <div class="col">
      <app-home></app-home>
    </div>
  </div>
</div>
